body {
    background-color: #212121;
}

.container {
    display: flex;
    border-radius: 20px;
    position: relative;
    top: 200px;
    height:220px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px -3px 0px 3px lightgray;
    padding: 30px;
    background-color: white;
    flex-direction: column;
}

.heading{
font-family: 'McLaren',sans-serif;
font-size: 25px;
font-weight: 600;
}

.p1{
    font-family: 'McLaren',sans-serif;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
}

.p2{
    font-family: 'McLaren',sans-serif;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #868686;   
}

hr {
    height: 1.5px;
    width: 500px;
    background-color: #c0c0c0;
    opacity: 40%;
    border: none;
    margin-top: 10px;
}

.country{
    display: flex;
    font-family: 'McLaren',sans-serif;
    font-size: 14px;
    background-color: white;
    height: 20px;
    width: fit-content;
    margin-top: 15px;
    padding: 12px;
    border-radius: 22px;
    justify-content: center;
    border: solid 2px rgb(181, 181, 181);
    margin-right: 15px;
    cursor: pointer;
}

.cont-flag{
    margin-left: 5px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.cont-flag img {
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.cont{
    display: flex;
}

.cont-list{
    font-family: 'McLaren',sans-serif;
    width: fit-content;
    height: 200px;
    display: flex;
    background-color: #d3d3d3;
    padding: 20px;
    overflow-y: auto;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;
}

.contries{
    margin-top: 5px;
}

.list-cont{
    display: flex;
    width: 250px;
    margin-bottom: 10px;
}